* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    padding: 20px 20px 100px;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Space Mono", monospace;
}

h1 {
  font-size: 40px;
}

.btn {
  font-size: 24px;
  font-family: 'Darker Grotesque', sans-serif;
  padding: 4px 20px 8px 20px;
  /* width: 50%; */
  cursor: pointer;
  text-transform: uppercase;
  border: 2px solid rgb(0, 23, 50);
}

.btn:hover {
  background-color: rgb(203, 224, 221);
}

.btn-full {
  width: 100%;
}

.score {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  font-weight: 900;
  width: 295px;
  background-color: #f1754e;
}

/* # Griglia di gioco */

.game-board {
  position: relative;
  margin-bottom: 8px;
  border: 2px solid rgb(0, 23, 50);
}

.game-container {
  width: calc((48px * 6) + 4px);
  display: flex;
  justify-content:flex-start;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 20px;
}

.grid {
  width: calc((48px * 6) + 4px);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.cell-dark {
  background-color: rgb(203, 224, 221);
}

.bar {
  background-color: #f1754e;
  border-radius: 8px;
  border: 2px solid rgb(0, 23, 50);
}

/* # Game over */
.end-game-screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(135deg, rgba(224, 7, 7, 0.644), rgba(165, 4, 210, 0.768));

  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 16px;
}

.win-end-screen {
  background: linear-gradient(135deg, rgba(170, 255, 0, 0.3), rgba(170, 255, 0, 0.8));
}

.play-again-button {
  width: 200px;
  height: 60px;
  border-radius: 30px;
  transition: box-shadow 0.7s, background-color 0.75s ease, transform 0.4s ease, border 0.7s ease;
  
  &.lose {
    background-color: rgb(211, 0, 0); /* Change to dark violet on lose */
    box-shadow: 0px 0px 15px 2px rgba(255, 38, 0, 0.959); /* Adjust shadow */
    border: 2px solid #8C0000;
    }	
  
  &.win {
    background-color: rgb(0, 255, 76); /* Change to blue on win */
    box-shadow: 0px 0px 15px 2px rgba(50, 228, 124, 0.959); /* Adjust shadow */
    border: 2px solid green;
	}
    
}

.play-again-button:hover {
  background-color: rgb(141, 22, 189);
  box-shadow: 0px 0px 50px 17px rgba(133, 50, 228, 0.959);
  transform: scale(1.05);
  border: 2px solid #440060;
}

.end-game-text {
  font-size: 48px;
  text-transform: uppercase;
}

/* # Utilities */

.hidden {
  display: none;
}
